body section {
    margin-bottom: 15px;
}

html,
body {
    height: 100%;
}

header {
    background-image: url(../curso/assets/img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
}

.casaFina-banner {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

header h1 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

#panel-parent {
    margin-top: 20px;
}

/*#depoimentos h2 {
    margin-left: 30px;
}*/

.titulo-depoimentos {
    background-color: #0275d8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;
}

.grupo-radio , 
.contato-select  {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333333;
    color: #FFF;

    padding: 20px;
}

footer address:last-child {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .colunas-2 {
        width: 50%;
        float: left;
    }

    .titulo-depoimentos {
        width: 100%;
    }

    #panel-parent {
        margin-top:  0;
    }
}

@media(min-width: 992px) {
    .casaFina-banner {
        left: 0;
        transform: translate(0, -80%);
        width: 50%;
    }
}